form {
  background: lightgray;
  box-shadow: 3px 3px 3px rgb(53, 107, 104);
  color: rgb(25, 69, 100);
}

select {
  color: rgb(25, 69, 100);
  margin: 1vh 2.2vw;
  border: 1px solid rgb(47, 124, 179);
  background: white;
  font-size: 1.25em;
  border-radius: 3px;
  padding: 5px;
  font-family: inherit;
}

#year-lable {
  display: inline-block;
}
