.apod-gallery {
  text-align: center;
  height: 100%;
  margin: 1vw auto;
  max-width: 750px;
}

.apod-gallery header {
  background-color: rgb(187, 227, 255);
  color: #333;
  padding: 1vh 1vw;
}

.apod-gallery h1 {
  font-size: 1.5em;
  margin:0;
}

main {
  padding: 1vh 1vw;
  background-color: rgb(234,244,251);
}

#apod-img-navigation {
  margin: 5px auto 5px auto;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* max-width: 600px; */
}

#apod-img-container {
  position: relative;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  border: solid #222 4px;
  padding-top: 4px;
  background-color: rgba(50,50,50, 1);
}

#apod-img-container img {
  position: relative;
  margin: 0 auto;
  /* cursor: pointer; */
  max-height: 500px;
  max-width: 100%;
  box-sizing: border-box;
}

#apod-img-container footer {
  display: grid;
  grid-template-columns: auto 75% auto;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  position: absolute;
  width: 100%;
  color: white;
  font-size: 20px;
}

#apod-top-footer {
  top: 0;
}

#apod-bottom-footer {
  bottom: 0;
}

#apod-top-footer p {
  font-weight: 700;
  display: inline-block;
  align-self: flex-start;
  max-width: 90%;
  margin: 0;
  padding: 3%;
  padding-top: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(50,50,50, .7);
}

#apod-img-container button {
  box-sizing: border-box;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  background-color: rgba(50,50,50, .7);
  min-width: 90%;
  min-height: 100%;
  justify-self: flex-start;
}

#apod-img-container #apod-next-button {
  justify-self: flex-end;
}

#apod-top-footer svg {
  z-index: 10;
  height: 35px;
  width: 35px;
  transition: 100ms linear;
}

#apod-top-footer line {
  stroke-width: 50px;
  stroke: white;
}

#apod-bottom-footer button {
  justify-self: flex-start;
}

#apod-bottom-footer svg {
  z-index: 10;
  height: 35px;
  width: 35px;
  transition: 100ms linear;
  padding: 15px;
}

#apod-share-svg {
  justify-self: flex-end;
}

#apod-expand-svg {
  justify-self: flex-start;
}

#apod-bottom-footer path {
  fill: white;
  stroke: white;
}

.apod-gallery svg:hover {
  transform: scale(1.35);
}

#apod-error {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  top: 100px;
  font-size: 1.5em;
  color: white;
}

.apod-gallery main > p {
  padding: 10px;
  background: rgb(225, 225, 225);
  max-width: 100%;
  margin: 10px auto 10px auto;
  box-shadow: 3px 3px 3px rgb(53, 107, 104);
}
