.modal {
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  background: rgba(250, 250, 250, 0.95);
  z-index: 9999;
}

h2 {
  grid-column: 1/4;
  justify-self: center;
  grid-row: 1;
  margin: 40px;
}
/* 
button {
  background: none;
  border: none;
  grid-row: 1;
  outline: none;
  padding: 0;
}

.modal-button {
  position: relative;
}

.modal-left {
  justify-self: end;
  grid-column: 1;
}

.modal-right {
  grid-column: 3/4;
  justify-self: start;
}

.modal-close {
  grid-column: 3;
  justify-self: center;
  align-self: flex-start;
  top: 5vh;
  right: 5vh;
  padding-left: 2vw;
}

svg {
  color: black;
  z-index: 9999;
  margin: 2vw;
  width: 60px;
  height: 60px;
  transition: 100ms linear;
}

article {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

.modal-img {
  border: solid #222 4px;
  max-height: 80%;
  height: auto;
  z-Index: 9999;
  background: #fff;
}

line {
  stroke-width: 10px;
}

svg:hover {
  transform: scale(1.25);
} */
